
<input type="text" [(ngModel)]="title">

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<br>
Estoy escribiendo: <br>
{{ title }}
<hr>
<div *ngIf="title === undefined">
  Esto es un div
</div>
<hr>
<!-- *ngSwitch -->
<div [ngSwitch]="title">
  <p *ngSwitchCase="'nicolas'">Este es Nicolás</p>
  <p *ngSwitchCase="'julian'">Este es Julian</p>
  <p *ngSwitchCase="'camilo'">Este es Camilo</p>
  <p *ngSwitchDefault>no hay match</p>
</div>
<hr>
<div *ngIf="(items.length === 0)">La lista está vacía</div>
<button (click)="addItem()">Add item</button>

<ul id="">

  <li *ngFor="let name of items; index as i">
    {{ name }}, item: {{ i }} &nbsp;&nbsp;
    <button (click)="deleteItem(i)">Borrar</button>
  </li>
</ul>
<div>
</div>


